@model List<Projects>
@{
    ViewBag.Title = "Index";
    int role = int.Parse(Session[SessionEnum.ROLEUSER].ToString());
}


<div style="margin-top:40px">
    <button id="btnAddProjects" class="btn btn-success" style="float:right;margin-bottom:10px;">Add Project</button>
    <table id="tableProjects">
        <thead>
            <tr>
                <td>Project Name</td>
                @if (role == 2)
                {
                    <td>Security</td>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0)
            {
                foreach (Projects x in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(x.ProjectName, "ProjectDetails", new { ProjectID = x.ProjectID, ProjectName = x.ProjectName })</td>
                        @if (role == 2)
                        {
                            <td>
                                <button class="btn btn-default btnSecurity" value="@x.ProjectID">Security</button>
                                @Html.HiddenFor(model => x.ProjectID)
                            </td>
                        }
                    </tr>
                }

            }
        </tbody>
    </table>
</div>

<!-- Modal For Adding Project-->
<div id="modalProject" class="modal fade" role="dialog" data-url="@Url.Action("addProject")">

</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#tableProjects").dataTable();

            $("#btnAddProjects").on("click", function () {
                var url = $("#modalProject").data('url');
                $.get(url, function (data) {
                    $("#modalProject").html(data);
                    $("#modalProject").modal("show");
                });
            });

            $(".btnSecurity").on("click", function () {
                var id = $(this).val();
                var url = '@Url.Action("changeAuthorization")';
                var url = url + "?projectID=" + id;
                $.get(url, function (data) {
                    $("#modalProject").html(data);
                    $("#modalProject").modal("show");
                    $(document).ready(function () {
                        $("#tableSecurity").dataTable();
                    });

                });
            });


        });
    </script>

}